body{
	background-color: #333333;
	color: #ffffff;
	padding: 0px;
	margin:0px;
	height:500px;
}
#div_clock{
	padding: 5px;
	margin: 10px;
	width: 200px;
	height : 50px;
	float: left;
}
.in_clock{
	font-size: 15px;
	padding:5px;
}
.button{
	padding:10px;
}
.in_clock_hidden{
	font-size: 0px;
	padding: 5px;
	float: left;
}
#left_side_panel{
	clear: both;
	width: 500px;
	height: 1000px;
	background-color: #555555;
	position: absolute;
	left: -450px;
	transition: 1s;
}
#left_side_panel.hover{
	left: 0px;
}
.login_button{
	text-align: center;
	padding: 5px;
	margin: 10px;
	width: 200px;
	height : 50px;
	float: left;
}